.accessories {
    &__title {
        margin: 0 0 28px 0;
    }

    &__body {
        display: flex;
        margin: 0 -10px;
        overflow: auto;
    }

    &__see-more {
        display: none;
    }

    @include desktop() {
        &__title {
            margin: 0 0 16px 0;
        }

        &__body {
            margin-left: -12.5px;
            margin-right: -12.5px;
            overflow: hidden;
            flex-wrap: wrap;
        }

        &__see-more {
            display: flex;
            justify-content: center;
            padding: 26px 0 0 0;
        }

        &__see-button {
            width: 14.3125rem;
        }
    }
}
