.button {
    @extend %flex-default;
    min-height: 48px;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }

    @include desktop() {
        font-weight: 700;
        font-size: 18px;
        &--big:hover {
            transform: scale(1.05);
        }
    }
}
