@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/fontspring-demo-proximanovacond-bold-webfont.woff2") format("woff2"), url("../src/fonts/fontspring-demo-proximanovacond-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/fontspring-demo-proximanovacond-regular-webfont.woff2") format("woff2"), url("../src/fonts/fontspring-demo-proximanovacond-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/fontspring-demo-proximanovacond-semibold-webfont.woff2") format("woff2"), url("../src/fonts/fontspring-demo-proximanovacond-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/fontspring-demo-proximanovacond-light-webfont.woff2") format("woff2"), url("../src/fonts/fontspring-demo-proximanovacond-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
:root {
  --blue: #009eff;
  --grey: #323941;
  --white-non-active: rgba(255, 255, 255, 0.4);
  --white: #fff;
  --green-check-1: #6acd68;
  --grey-2: #999;
  --light-grey: #EEEEEE;
  --font-family: "Proxima Nova", sans-serif;
  --break-point-md: 27em;
}

body,
html {
  height: 100%;
}

.body {
  color: var(--grey);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
}
.body--lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 23.4375rem;
  max-width: 63.875rem;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*1022*/
.manual__img, .features-item, .accessories-item, .packing-list__img .packing-list__circle, .order-tabs__button, .order-segway__in-stock, .director, .info, .button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.manual__items, .features__body, .accessories-item__price-box, .order-tabs__menu, .payment-methods__list, .registration__content, .warranty-condition {
  display: flex;
  flex-wrap: wrap;
}

.registration__warranty {
  display: flex;
  flex-direction: column;
}

.button {
  min-height: 48px;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px;
  border: none;
  cursor: pointer;
}
@media (min-width: 63.875em) {
  .button {
    font-weight: 700;
    font-size: 18px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 3;
}
.header__top-line {
  padding: 11px 0;
}
.header__container-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.header__hamburger {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 18.86px;
  display: flex;
  align-items: center;
  z-index: 4;
}
.header__hamburger::after, .header__hamburger::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--grey);
  left: 0;
  transition: transform 0.3s;
}
.header__hamburger::after {
  top: 0;
}
.header__hamburger::before {
  bottom: 0;
}
.header__hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--grey);
  z-index: 4;
  transition: scale 0.3s 0.07s;
}
.header__hamburger--active span {
  scale: 0;
}
.header__hamburger--active::after {
  transform-origin: left;
  transform: rotate(45deg);
}
.header__hamburger--active::before {
  transform: rotate(-45deg);
  transform-origin: left;
}
.header__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  overflow: auto;
  top: -100%;
  left: 0;
  transition: all 0.3s;
}
.header__menu--active {
  top: 0;
}
.header__logo {
  display: block;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__logo--mf {
  width: 94px;
  height: 27.4px;
  justify-self: center;
}
.header__logo--dtp {
  width: 216px;
  height: 62px;
}
.header__info {
  justify-self: end;
  position: relative;
  z-index: 3;
}
.header__bottom-line {
  display: none;
}
@media (min-width: 63.875em) {
  .header {
    position: static;
  }
  .header::before {
    position: static;
  }
  .header__container-top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .header__top-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--grey);
    z-index: 20;
  }
  .header__hamburger {
    display: none;
  }
  .header__menu {
    position: static;
    background: transparent;
  }
  .header__logo {
    display: block;
  }
  .header__logo--mf {
    display: none;
    width: 94px;
    height: 27.4px;
  }
  .header__logo--dtp {
    width: 216px;
    height: 62px;
  }
  .header__logo--dtp img {
    min-width: 100%;
  }
  .header__bottom-line {
    display: block;
    margin-top: 51.2px;
    padding: 18px 0 20px;
  }
  .header__container-bottom {
    display: flex;
    justify-content: space-between;
  }
}

.headline-block {
  text-align: center;
}
.headline-block > *:not(:first-child) {
  margin: 7px 0 0 0;
}
.headline-block__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 116%;
  text-transform: uppercase;
}
.headline-block__text {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.02em;
}
@media (min-width: 48em) {
  .headline-block__title {
    font-size: 35px;
    line-height: 119%;
  }
  .headline-block__text {
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 63.875em) {
  .headline-block > *:not(:first-child) {
    margin: 18px 0 0 0;
  }
  .headline-block__title {
    font-size: 50px;
    line-height: 119%;
  }
  .headline-block__text {
    font-size: 18px;
    font-weight: 400;
  }
}

.menu {
  display: flex;
}
@media (max-width: 63.8125em) {
  .menu {
    align-items: start;
    justify-content: center;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .menu__list:first-child {
    margin: 5em 0 0 0;
  }
  .menu__item {
    margin: 0 0 3.3333em 0;
    position: relative;
  }
  .menu__item:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white);
    left: 49.5%;
    top: 60px;
  }
}
.menu__link {
  letter-spacing: 0.02em;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  z-index: 70;
  text-align: center;
}
@media (min-width: 63.875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  .menu__item {
    margin: 0 1.333em 0 0;
  }
  .menu__link {
    letter-spacing: 0.02em;
    color: var(--white);
    text-transform: uppercase;
  }
}

.info {
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.info__link {
  font-family: var(--font-family);
  font-size: 18px;
  text-align: center;
  color: var(--white);
}
.info__link--ph-string {
  display: none;
}
@media (min-width: 63.875em) {
  .info {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .info__link {
    font-family: var(--font-family);
    font-size: 18px;
    text-align: center;
    color: var(--white);
  }
  .info__link--basket {
    order: 1;
  }
  .info__link--basket svg {
    width: 24px;
    height: 24px;
  }
  .info__link--basket svg path {
    stroke: var(--white);
  }
  .info__link--ph-svg {
    display: none;
  }
  .info__link--inst {
    order: 2;
  }
  .info__link--inst svg {
    width: 22px;
    height: 22px;
  }
  .info__link--inst svg path {
    fill: var(--white);
  }
  .info__link--ph-string {
    display: block;
    order: 3;
  }
}

.director {
  margin: 0 71px 0 0;
}
.director__img {
  margin: 0 13px 0 0;
}
.director__content > * :not(:last-child) {
  margin: 0 0 0.3076923077em 0;
}
.director__full-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 119%;
}
.director__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 119%;
  text-transform: lowercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--blue);
}

.page {
  flex: 1;
  margin: 51.2px 0 0 0;
}
.page__segway-list {
  background: var(--grey);
}
.page__order {
  padding: 16px 0 15px;
}
.page__order-tabs {
  padding: 15px 0 25px;
  background-color: rgba(153, 153, 153, 0.2);
}
.page__packing-list {
  padding: 25px 0;
  background: linear-gradient(360deg, #eee 0%, rgba(245, 245, 245, 0.79) 53.12%, rgba(255, 255, 255, 0) 100%);
}
.page__accessories {
  padding: 40px 0;
}
.page__poster {
  width: 100%;
  height: 406px;
}
.page__poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 80% 0;
     object-position: 80% 0;
}
.page__features {
  padding: 30px 0;
}
.page__manual {
  padding: 36px 0;
}
@media (min-width: 48em) {
  .page__poster {
    height: 500px;
    position: relative;
  }
  .page__poster::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #f5f5f5 0%, rgba(232, 232, 232, 0) 100%);
  }
  .page__poster img {
    -o-object-position: 80% 0;
       object-position: 80% 0;
  }
}
@media (min-width: 63.875em) {
  .page {
    margin: 0;
  }
  .page__order {
    padding: 40px 0 20px;
  }
  .page__order-tabs {
    padding: 20px 0 30px;
    background-color: var(--white);
  }
  .page__packing-list {
    padding: 30px 0 40px;
  }
  .page__accessories {
    padding: 60px 0 80px;
  }
  .page__poster {
    height: 724px;
  }
  .page__poster::after {
    height: 212px;
  }
  .page__poster img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 70% 0;
       object-position: 70% 0;
  }
  .page__features {
    padding: 50px 0;
  }
  .page__manual {
    padding: 50px 0;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: var(--blue);
  font-size: 1px;
}

.segway-list__wrapper {
  margin: 0 -15px;
}
.segway-list__columns {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.segway-list__anouncement {
  display: none;
}
@media (min-width: 63.875em) {
  .segway-list__wrapper.swiper-wrapper {
    flex-direction: row;
    margin: 0;
    width: 993px !important;
  }
  .segway-list__anouncement {
    display: block;
    background: var(--blue);
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
  }
  .segway-list__anouncement-position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
}

.segway-item {
  padding: 12px 14px 8px;
}
.segway-item__img {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.segway-item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.segway-item__prefix {
  display: none;
}
.segway-item__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 119%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  margin: 7px 0 0 0;
}
.segway-item:active {
  background: var(--blue);
}
@media (min-width: 63.875em) {
  .segway-item {
    padding: 12px 30px 14px;
  }
  .segway-item__img {
    width: 80px;
    height: 80px;
  }
  .segway-item__prefix {
    display: inline;
  }
  .segway-item:hover {
    background: var(--blue);
  }
}

.order-segway__container {
  display: flex;
  flex-direction: column;
}
.order-segway__in-stock {
  width: 6.5625rem;
  font-weight: 400;
  font-size: 13px;
  line-height: 119%;
  text-align: center;
  color: var(--green-check-1);
  min-height: 27px;
  border: 2px solid var(--green-check-1);
  align-self: center;
}
.order-segway__title {
  font-weight: 700;
  font-size: 37px;
  line-height: 93%;
  text-transform: uppercase;
  color: var(--grey);
  text-align: center;
  margin: 16px 0 7px;
}
.order-segway__swiper {
  margin: 0 -15px;
}
.order-segway__swiper-wrapper {
  margin: 0 0 20px 0;
}
.order-segway__swiper-slide {
  text-align: center;
}
.order-segway__protective {
  margin: 0 0 22px 0;
}
.order-segway__payment-methods {
  margin: 24px 0 0 0;
}
@media (min-width: 63.875em) {
  .order-segway__in-stock {
    width: 5.5625rem;
    align-self: self-start;
  }
  .order-segway__protective {
    display: none;
  }
  .order-segway__body {
    display: grid;
    grid-template-columns: 1fr 42.2%;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "title swiper" "registration swiper" "pay-method swiper";
  }
  .order-segway__title {
    grid-area: title;
    font-size: 80px;
    line-height: 87%;
    text-align: left;
  }
  .order-segway__swiper {
    grid-area: swiper;
    margin: 0;
  }
  .order-segway__swiper-wrapper {
    height: 100% !important;
    margin: 0;
  }
  .order-segway__swiper-slide {
    height: 100% !important;
  }
  .order-segway__swiper-slide img {
    width: 100%;
    height: 95%;
  }
  .order-segway__payment-methods {
    margin: 20px 0 0 0;
  }
}

.protective__body {
  border: 5.44px solid var(--blue);
  display: flex;
  min-height: 9.0625rem;
}
.protective__content {
  margin: 15px;
  flex: 1;
}
.protective__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 123%;
  text-transform: uppercase;
  color: var(--grey);
  margin: 0 0 5px 0;
}
.protective__title--mark {
  color: var(--blue);
}
.protective__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--grey);
  width: 10.7857142857em;
}
.protective__img {
  margin: 3px 15px 12px 0;
  flex: 0 1 25.9701492537%;
  position: relative;
  padding: 0 0 35.8208955224% 0;
  min-height: 120px;
}
.protective__img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 28.125em) {
  .protective__content {
    align-self: center;
    margin: 25px;
  }
  .protective__title {
    font-size: 27px;
    line-height: 119%;
    margin: 0 0 9px 0;
  }
  .protective__text {
    font-size: 18px;
  }
}
@media (min-width: 39.375em) {
  .protective__body {
    flex-direction: row-reverse;
  }
  .protective__title--mark {
    color: var(--grey);
  }
  .protective__text {
    font-weight: 400;
    font-size: 18px;
    width: 15.785714em;
  }
  .protective__img {
    margin: 15px 0 15px 35px;
    flex: 0 1 27.2015655577%;
    position: relative;
    padding: 0 0 19.6673189824% 0;
    min-height: 120px;
  }
  .protective__img img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (min-width: 63.875em) {
  .protective__content {
    margin: 35px;
  }
  .protective__title {
    font-size: 50px;
    line-height: 119%;
    margin: 0 0 9px 0;
  }
  .protective__title--mark {
    color: var(--grey);
  }
  .protective__img {
    margin: 20px 0 20px 50px;
  }
}

.warranty-condition {
  margin: 0 -1.8px;
}
.warranty-condition__column {
  flex: 1 0 33.333%;
  padding: 0 1.8px;
}
.warranty-condition__item {
  border: 1.09px solid var(--grey-2);
  text-align: center;
  padding: 10px;
  height: 100%;
}
.warranty-condition__item:active {
  background: var(--blue);
}
.warranty-condition__item:active > * {
  color: var(--white);
}
.warranty-condition__term, .warranty-condition__price {
  line-height: 103%;
  font-size: 18px;
}
.warranty-condition__term {
  font-weight: 400;
}
.warranty-condition__price {
  font-weight: 700;
  color: var(--blue);
}
@media (min-width: 63.875em) {
  .warranty-condition__item:hover {
    background: var(--blue);
  }
  .warranty-condition__item:hover > * {
    color: var(--white);
  }
}

.registration {
  border: 5px solid var(--grey-2);
}
.registration__body {
  padding: 15px;
}
.registration__warranty-text {
  text-align: center;
  width: 150px;
  align-self: center;
  font-size: 18px;
  margin: 0 0 0.44444em 0;
}
.registration__warranty-text-bold {
  font-weight: 700;
}
.registration__warranty-condition {
  margin: 0 0 20px 0;
}
.registration__content {
  justify-content: center;
  margin: 0 0 20px 0;
}
.registration__price {
  text-align: center;
}
.registration__price-old {
  font-weight: 300;
  font-size: 22px;
  text-decoration: line-through;
}
.registration__price-new {
  font-weight: 700;
  font-size: 38px;
}
.registration__protective {
  display: none;
}
.registration__buttons {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.registration__button {
  width: 50%;
}
.registration__button:active {
  transform: scale(0.9);
}
@media (min-width: 48em) {
  .registration__warranty-text {
    width: 250px;
    align-self: center;
    font-size: 24px;
  }
}
@media (min-width: 63.875em) {
  .registration {
    grid-area: registration;
    align-self: center;
  }
  .registration__warranty-text {
    font-size: 18px;
    min-width: 100%;
    text-align: left;
  }
  .registration__content {
    justify-content: flex-start;
    align-items: center;
  }
  .registration__protective {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0 0 0 31px;
  }
  .registration__protective-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--blue);
  }
  .registration__protective-img {
    width: 120px;
    height: 87px;
  }
  .registration__protective-img img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
  .registration__buttons {
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
  .registration__button:hover {
    transform: scale(0.9);
  }
}

.payment-methods {
  text-align: center;
  grid-area: pay-method;
}
.payment-methods__title {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: var(--grey);
  margin: 0 0 18px 0;
}
.payment-methods__list {
  margin: 0 -3px;
  margin: 0 0 18px 0;
}
.payment-methods__item svg {
  width: 40.5px;
  height: 25px;
}
.payment-methods__penultimate-text {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--blue);
}
.payment-methods__latest-text {
  color: green;
}
@media (min-width: 48em) {
  .payment-methods {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title text text2" "methods methods methods";
    text-align: left;
  }
  .payment-methods__title {
    grid-area: title;
    margin: 0;
  }
  .payment-methods__list {
    grid-area: methods;
    margin: 8px 0 0 0;
  }
  .payment-methods__penaltimate-text {
    grid-area: text;
  }
  .payment-methods__latest-text {
    grid-area: text2;
  }
}
@media (min-width: 63.875em) {
  .payment-methods__item svg {
    width: 25.52px;
    height: 16px;
  }
  .payment-methods__item svg:hover {
    transform: scale(1.3);
  }
}

.order-tabs__body {
  display: grid;
  grid-template: 1fr auto/1fr;
  grid-template-areas: "content" "navigation";
}
.order-tabs__content {
  grid-area: content;
}
.order-tabs__menu {
  grid-area: navigation;
  background-color: white;
}
.order-tabs__button {
  flex: 0 1 25%;
}
@media (min-width: 63.875em) {
  .order-tabs__body {
    grid-template: auto 1fr/1fr;
    grid-template-areas: "navigation" "content";
  }
  .order-tabs__item {
    background-color: rgba(153, 153, 153, 0.2);
  }
}

.tab-button {
  min-height: 63px;
  padding: 7px 20px;
}
.tab-button--active {
  background: var(--blue);
}
.tab-button--active .tab-button__svg svg > * path {
  fill: var(--white);
}
.tab-button--active .tab-button__svg-stroke {
  stroke: var(--white);
}
.tab-button--active .tab-button__text {
  color: var(--white);
}
.tab-button__text {
  display: none;
}
@media (min-width: 63.875em) {
  .tab-button {
    display: flex;
    flex-wrap: nowrap;
  }
  .tab-button__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--grey-2);
    display: block;
    width: 105px;
    margin: 0 0 0 18px;
  }
}

.tab-item {
  display: none;
}
.tab-item--active {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 55px 0 82px 0;
}
.tab-item__content {
  text-align: center;
}
.tab-item__content > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.tab-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 129%;
  text-transform: uppercase;
}
.tab-item__text {
  font-weight: 300;
  font-size: 18px;
}
.tab-item__img-padding {
  margin: 0 0 36px 0;
}
.tab-item__img img {
  max-width: 100%;
}
@media (min-width: 48em) {
  .tab-item__text {
    font-weight: 400;
    max-width: 447px;
  }
}
@media (min-width: 63.875em) {
  .tab-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 20px 0 0 0;
    height: 194px;
  }
  .tab-item__content {
    text-align: left;
    margin: 0 0 0 50px;
  }
  .tab-item__img {
    margin: 0;
  }
}

.packing-list__body {
  display: grid;
  grid-template: auto 1fr 1fr/1fr;
  grid-template-areas: "title" "image" "video";
}
.packing-list__headline {
  grid-area: title;
  margin: 0 0 25px 0;
}
.packing-list__img {
  grid-area: image;
  justify-self: center;
}
.packing-list__img .packing-list__circle {
  width: 296px;
  height: 296px;
  background-color: var(--blue);
  border-radius: 300px;
}
.packing-list__img img {
  transform: rotate(5deg);
  border-radius: 31px;
  box-shadow: 0 16px 37px 0 rgba(0, 0, 0, 0.11);
}
.packing-list__video {
  grid-area: video;
  margin: 20px 0 0 0;
}
.packing-list__video iframe {
  width: 100%;
}
@media (min-width: 48em) {
  .packing-list__body {
    grid-template: auto auto/1fr 1fr;
    align-items: center;
    grid-template-areas: "title image" "video image";
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
  .packing-list__headline {
    align-self: self-end;
    margin: 0 0 10px 0;
  }
  .packing-list__video {
    margin: 0;
  }
}
@media (min-width: 63.875em) {
  .packing-list__body {
    -moz-column-gap: 2.875rem;
         column-gap: 2.875rem;
  }
  .packing-list__headline {
    margin: 0;
  }
  .packing-list__img .packing-list__circle {
    width: 453px;
    height: 453px;
  }
}

.accessories__title {
  margin: 0 0 28px 0;
}
.accessories__body {
  display: flex;
  margin: 0 -10px;
  overflow: auto;
}
.accessories__see-more {
  display: none;
}
@media (min-width: 63.875em) {
  .accessories__title {
    margin: 0 0 16px 0;
  }
  .accessories__body {
    margin-left: -12.5px;
    margin-right: -12.5px;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .accessories__see-more {
    display: flex;
    justify-content: center;
    padding: 26px 0 0 0;
  }
  .accessories__see-more button {
    width: 14.3125rem;
  }
}

.accessories-item {
  padding: 10px 10px;
  flex: 0 0 48%;
  flex-direction: column;
}
.accessories-item > *:not(:last-child) {
  margin: 0 0 18px 0;
}
.accessories-item__img {
  width: 8rem;
  height: 8rem;
  background-color: var(--light-grey);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accessories-item__img img {
  max-width: 105%;
  max-height: 105%;
  -o-object-fit: contain;
     object-fit: contain;
}
.accessories-item__content > *:not(:last-child) {
  margin: 0 0 8px 0;
}
.accessories-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  text-transform: uppercase;
}
.accessories-item__text {
  font-size: 12px;
  line-height: 119%;
  color: var(--grey-2);
}
.accessories-item__price-box {
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin: auto 0 0 0;
}
.accessories-item__price-word {
  color: var(--grey-2);
}
.accessories-item__button {
  width: 100%;
  border-radius: 4px;
  margin: 18px 0 0 0;
}
@media (min-width: 63.875em) {
  .accessories-item {
    padding: 24px 12.5px;
    flex: 0 0 33.333%;
    flex-direction: row;
  }
  .accessories-item > *:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .accessories-item__img {
    width: 8.3125rem;
    height: 8.3125rem;
  }
  .accessories-item__content {
    text-align: center;
  }
  .accessories-item__content > *:not(:last-child) {
    margin: 0 0 16px 0;
  }
  .accessories-item__title {
    font-size: 25px;
    line-height: 92%;
  }
  .accessories-item__text {
    font-size: 13px;
    max-width: 17.5rem;
  }
  .accessories-item__price-box {
    max-width: 8.0625rem;
    align-items: center;
    justify-content: center;
  }
  .accessories-item__price-word {
    display: none;
  }
  .accessories-item__button {
    border-radius: 0;
    margin: 14px 0 0 0;
    font-size: 13px;
    min-height: 42px;
    background-color: inherit;
    color: #c6c6c6;
    border: 1px solid #c6c6c6;
  }
  .accessories-item__button:hover {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
  }
}

.features__title {
  margin: 0 0 50px 0;
}
.features__body {
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: -7px;
  margin-right: -7px;
}
.features__column {
  flex: 0 0 25%;
  padding: 12px 7px;
}
@media (min-width: 63.875em) {
  .features__title {
    margin: 0 0 80px 0;
  }
  .features__body {
    margin-top: -14px;
    margin-bottom: -14px;
  }
  .features__column {
    padding: 14px 12px;
  }
}

.features-item {
  flex-direction: column;
}
.features-item__img {
  margin: 0 0 11px 0;
  height: 4rem;
  width: 4rem;
}
.features-item__img img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}
.features-item__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 128%;
  text-align: center;
  background: linear-gradient(180deg, #009eff 0%, #007bcd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 5px 0;
}
.features-item__text {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--grey-2);
}
@media (min-width: 63.875em) {
  .features-item__img {
    margin: 0 0 6px 0;
    height: 5.625rem;
    width: 5.625rem;
  }
  .features-item__title {
    font-size: 35px;
  }
  .features-item__text {
    font-weight: 400;
    font-size: 18px;
  }
}

.manual__wrapper {
  border: 5px solid var(--blue);
  padding: 0 14px 15px;
}
.manual__img {
  margin: -36px 0 0 0;
}
.manual__content {
  width: 100%;
}
.manual__title {
  margin: 0 0 24px 0;
}
.manual__items {
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 0 17px 0;
}
.manual__item {
  flex: 0 1 33.333%;
}
.manual__download {
  width: 100%;
  min-height: 38px;
}
.manual__download-pdf {
  display: none;
}
@media (min-width: 63.875em) {
  .manual__wrapper {
    display: flex;
    align-items: center;
    min-height: 317px;
  }
  .manual__img {
    margin: -36px 0 -40px 10px;
    transform: translateX(-6%);
  }
  .manual__title {
    margin: 0 0 17px 0;
  }
  .manual__title > h2 {
    text-align: left;
    width: 421px;
  }
  .manual__items {
    padding: 0 0 29px 0;
  }
  .manual__download {
    justify-content: space-between;
    width: 50%;
  }
  .manual__download-pdf {
    display: block;
  }
}

.manual-item {
  text-align: center;
  padding: 0 5px;
}
.manual-item__icon {
  margin: 0 0 12px 0;
}
@media (min-width: 63.875em) {
  .manual-item {
    display: flex;
    text-align: left;
  }
  .manual-item__icon {
    margin: 0 12px 0 0;
  }
}

.footer {
  background-color: var(--grey);
  padding: 20px;
}
.footer__body {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: "logo" "name" "adress" "phone";
  text-align: center;
}
.footer__body > *:not(:first-child) {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 0 11px 0;
}
.footer__logo {
  margin: 0 0 30px 0;
  grid-area: logo;
}
.footer__adress--bottom {
  display: block;
  padding: 5px 0 0 0;
  grid-area: adress;
}
.footer__adress__name {
  grid-area: name;
}
.footer__adress__phone {
  grid-area: phone;
}
@media (min-width: 48em) {
  .footer__body {
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    grid-template-areas: "logo phone adress name";
  }
  .footer__body > *:not(:first-child) {
    font-size: 13px;
    line-height: 119%;
    margin: 0;
  }
  .footer__logo {
    text-align: left;
    margin: 0;
  }
  .footer__adress {
    text-align: center;
    display: flex;
  }
  .footer__adress--bottom {
    padding: 0;
  }
}
@media (min-width: 63.875em) {
  .footer__body {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */